
<div class="footer_content" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="footer_logo text-center"><a href="#"><img src="images/logo_3.png" alt=""></a></div>
            </div>
        </div>
        <div class="row footer_row">
            <div class="col-lg-4 footer_col">
                <div class="footer_item text-center">
                    <div class="footer_icon d-flex flex-column align-items-center justify-content-center ml-auto mr-auto">
                        <div><img src="images/phone.png" alt=""></div>
                    </div>
                    <div class="footer_title">Наш номер телефона</div>
                    <div class="footer_list">
                        <ul>
                            <li>+34 5667 4332 244</li>
                            <li>+224 667 889</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 footer_col">
                <div class="footer_item text-center">
                    <div class="footer_icon d-flex flex-column align-items-center justify-content-center ml-auto mr-auto">
                        <div><img src="images/mail.png" alt=""></div>
                    </div>
                    <div class="footer_title">e-mail</div>
                    <div class="footer_list">
                        <ul>
                            <li>Contact@sportify25.com</li>
                            <li>office@sportify25.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 footer_col">
                <div class="footer_item text-center">
                    <div class="footer_icon d-flex flex-column align-items-center justify-content-center ml-auto mr-auto">
                        <div><img src="images/contact.png" alt=""></div>
                    </div>
                    <div class="footer_title">Наш адрес</div>
                    <div class="footer_list">
                        <ul>
                            <li>Киев, ул. Крещатик, 15</li>
                            <li>Работаем до 23:00</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
